PORT=5000
MONGO_URI=mongodb://localhost:27017/vassist
JWT_SECRET=your_jwt_secret_key_here
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
RAPIDAPI_KEY=your_rapidapi_key
RAPIDAPI_HOST=vehicle-info-by-registration-plate.p.rapidapi.com
ADMIN_EMAIL=admin@vassist.com
ADMIN_PASSWORD=Admin@123
